body{
    font-family:'Poppins';
    background: #eee;
    background-image: url(images/sky-clouds-overcast-68vbr5be5vij1oqd.jpg);
    min-height: 100vh;
    background-size: 100% 100%;
}

/*subscription*/
.subscription{
    border-radius: 10%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 5%;
    margin:6% auto 0 auto;
    width: 60%;
    backdrop-filter: blur(100px);
}
.check{
    border-radius: 25px;
    line-height: 2;
    display: flex;
    margin-top: 60px;
    padding-left: 18%;
    font-size: 2rem;
}
.chk{
    margin-top: 3%;
    margin-left: 20px;
}
.chk:hover{
    cursor: pointer;
}
.inputs{
    background: none;
    border-radius:20px;
    border-color: #fff;
    position: relative;
    margin-bottom: 2%;
    width: 60%;
}


.butt{
    height: 12%;
    border-color: black;
    backdrop-filter: blur(100px);
    color: black;
}
.butt:hover{
    background: #da4357;
}

/*pricing*/

.wrapper{
    width: 80%;
    margin: 5% auto;
}
.single-price{
    background: none;
    backdrop-filter: blur(100px);
    border-radius: 25px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
    text-align: center;
    transition: 0.9s;
    margin: auto;
    margin-top: 2%;
}
.price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #da4357;
    margin: 5% auto 0 auto;
    text-align: center;
}
.deals{
    margin-top: 10%;
}
.single-price h1{
    font-size: 1.125rem;
    color: #fff;
    line-height: 3;
    text-transform: uppercase;
}
.price h2{
    font-size: 2.375rem;
    color: #fff;
    margin-top: 35px;
}

.deals{
    font-size: 0.875rem;
    font-weight: normal;
    text-align: center; 
    color: #fff;
    line-height: 1;
}

.single-price:hover{
    background: #da4357;
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    transform:scale(1.1);
    z-index: 1;
    border-radius: 50px;
}
.single-price:hover .price{
    border-color: #fff;
}
.single-price a{
    text-decoration: none;
    background: #da4357;
    color: #fff;
    padding: 10px 60px;
    display: inline-block;
    margin: 10% auto;
    text-transform: uppercase;
    font-weight: bold;
}
.single-price a{
    transition: 2s;
}
.single-price:hover a{
    background: #262626;
    color: #fff;
    border-radius: 50px;
}
